/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    height: 100%;
}

/* Style for the navbar container */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #333333, #8e8787);
  color: #fff;
  height: 80px;
  padding: 0 20px;
}

/* Style for the logo image */
nav img {
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

/* Hover effect for the logo image */
nav img:hover {
  transform: rotate(360deg);
}

/* Style for the navbar link text */
nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  align-items:right;
  display: inline;
  text-align: right;
}

/* Hover effect for the navbar links */
nav a:hover {
  color: #f1c40f;
  text-decoration:underline;
}

/* Profile Card Styles */
.profile-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.profile-card.show {
    opacity: 1;
    transform: translateY(0);
}

.profile-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profile-card {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-card h2 {
    margin-top: 10px;
}

.profile-card p {
    margin-top: 10px;
    text-align: center;
}

.profile-card li {
    margin-top: 5px;
}

.profile-card p:first-of-type {
    font-weight: bold;
}

.profile-card p:last-of-type {
    margin-bottom: 0;
}

/* Style for the contacts container */
#contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#contacts img {
    margin-right: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .profile-card-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .profile-card {
        width: calc(100% - 40px);
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 20px !important;
    }
    
    #contacts {
        flex-direction: column !important;
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    
    #contacts img {
        margin-right: 0 !important;
        margin-bottom: 10px !important;
    }
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Custom Styles */
body {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}

nav p {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
}

h2 {
    font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1920 - 320)));
}

p {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}

li {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}

@media screen and (max-width:768px){
   .profile-details{
       text-align:center
   }
}
/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
/* Footer link styles */
footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
/* Footer link hover effect */
footer a:hover {
    color: #f1c40f;
}

